TV-reservation/src/main/resources/static/node_modules/
TV-reservation/target/
TV-reservation/target/classes/application.properties
TV-reservation/target/classes/application/Application.class
TV-reservation/target/classes/application/controller/AppController.class
TV-reservation/target/classes/application/domain/Player.class
TV-reservation/target/classes/application/domain/Timeslot.class
TV-reservation/target/classes/application/domain/TimeSlotRepository.class
TV-reservation/target/classes/application/domain/Useraccount.class
TV-reservation/target/classes/application/domain/UserAccountRepository.class
TV-reservation/target/classes/application/domain/UserRole.class
TV-reservation/target/classes/application/domain/UserRoleRepository.class
TV-reservation/target/classes/application/filters/SimpleCORSFilter.class
TV-reservation/target/classes/application/security/AuthenticationProviderConfig.class
TV-reservation/target/classes/application/security/CsrfHeaderFilter.class
TV-reservation/target/classes/application/security/EncodePassword.class
TV-reservation/target/classes/application/security/WebSecurityConfig.class
TV-reservation/target/classes/application/services/LoginService.class
TV-reservation/target/classes/application/services/LoginService$LoginFailedException.class
TV-reservation/target/classes/application/services/RegisterService.class
TV-reservation/target/classes/application/services/ScheduledJobs.class
TV-reservation/target/classes/application/services/TimeSlotService.class
TV-reservation/target/classes/application/services/TimeSlotService$InsufficientFundsException.class
TV-reservation/target/classes/application/services/UserService.class
TV-reservation/target/classes/application/sockets/UserSessionHandler.class
TV-reservation/target/classes/application/sockets/UserWebSocketServer.class
TV-reservation/target/classes/application/sockets/WebSocketConfig.class
TV-reservation/target/classes/static/app.css
TV-reservation/target/classes/static/app.js
TV-reservation/target/classes/static/index.html
TV-reservation/target/classes/static/jsPlumb-2.1.0.js
TV-reservation/target/classes/static/snoop.jsp
TV-reservation/target/classes/static/bower_components/angular/.bower.json
TV-reservation/target/classes/static/bower_components/angular/angular-csp.css
TV-reservation/target/classes/static/bower_components/angular/angular.js
TV-reservation/target/classes/static/bower_components/angular/angular.min.js
TV-reservation/target/classes/static/bower_components/angular/angular.min.js.gzip
TV-reservation/target/classes/static/bower_components/angular/angular.min.js.map
TV-reservation/target/classes/static/bower_components/angular/bower.json
TV-reservation/target/classes/static/bower_components/angular/index.js
TV-reservation/target/classes/static/bower_components/angular/package.json
TV-reservation/target/classes/static/bower_components/angular/README.md
TV-reservation/target/classes/static/bower_components/angular-loader/.bower.json
TV-reservation/target/classes/static/bower_components/angular-loader/angular-loader.js
TV-reservation/target/classes/static/bower_components/angular-loader/angular-loader.min.js
TV-reservation/target/classes/static/bower_components/angular-loader/angular-loader.min.js.map
TV-reservation/target/classes/static/bower_components/angular-loader/bower.json
TV-reservation/target/classes/static/bower_components/angular-loader/package.json
TV-reservation/target/classes/static/bower_components/angular-loader/README.md
TV-reservation/target/classes/static/bower_components/angular-mocks/.bower.json
TV-reservation/target/classes/static/bower_components/angular-mocks/angular-mocks.js
TV-reservation/target/classes/static/bower_components/angular-mocks/bower.json
TV-reservation/target/classes/static/bower_components/angular-mocks/ngAnimateMock.js
TV-reservation/target/classes/static/bower_components/angular-mocks/ngMock.js
TV-reservation/target/classes/static/bower_components/angular-mocks/ngMockE2E.js
TV-reservation/target/classes/static/bower_components/angular-mocks/package.json
TV-reservation/target/classes/static/bower_components/angular-mocks/README.md
TV-reservation/target/classes/static/bower_components/angular-route/.bower.json
TV-reservation/target/classes/static/bower_components/angular-route/angular-route.js
TV-reservation/target/classes/static/bower_components/angular-route/angular-route.min.js
TV-reservation/target/classes/static/bower_components/angular-route/angular-route.min.js.map
TV-reservation/target/classes/static/bower_components/angular-route/bower.json
TV-reservation/target/classes/static/bower_components/angular-route/index.js
TV-reservation/target/classes/static/bower_components/angular-route/package.json
TV-reservation/target/classes/static/bower_components/angular-route/README.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/.bower.json
TV-reservation/target/classes/static/bower_components/html5-boilerplate/.editorconfig
TV-reservation/target/classes/static/bower_components/html5-boilerplate/.jscsrc
TV-reservation/target/classes/static/bower_components/html5-boilerplate/.jshintrc
TV-reservation/target/classes/static/bower_components/html5-boilerplate/.travis.yml
TV-reservation/target/classes/static/bower_components/html5-boilerplate/CHANGELOG.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/CONTRIBUTING.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/gulpfile.js
TV-reservation/target/classes/static/bower_components/html5-boilerplate/LICENSE.txt
TV-reservation/target/classes/static/bower_components/html5-boilerplate/package.json
TV-reservation/target/classes/static/bower_components/html5-boilerplate/README.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/.editorconfig
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/.htaccess
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/404.html
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/apple-touch-icon.png
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/browserconfig.xml
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/crossdomain.xml
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/favicon.ico
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/humans.txt
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/index.html
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/LICENSE.txt
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/robots.txt
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/tile-wide.png
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/tile.png
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/css/main.css
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/css/normalize.css
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/doc/css.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/doc/extend.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/doc/faq.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/doc/html.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/doc/js.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/doc/misc.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/doc/TOC.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/doc/usage.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/js/main.js
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/js/plugins.js
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/js/vendor/jquery-1.11.3.min.js
TV-reservation/target/classes/static/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/.editorconfig
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/404.html
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/apple-touch-icon.png
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/browserconfig.xml
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/crossdomain.xml
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/favicon.ico
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/humans.txt
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/index.html
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/robots.txt
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/tile-wide.png
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/tile.png
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/css/main.css
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/doc/css.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/doc/extend.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/doc/faq.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/doc/html.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/doc/js.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/doc/misc.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/doc/TOC.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/doc/usage.md
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/js/main.js
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/js/plugins.js
TV-reservation/target/classes/static/bower_components/html5-boilerplate/src/js/vendor/modernizr-2.8.3.min.js
TV-reservation/target/classes/static/bower_components/html5-boilerplate/test/file_content.js
TV-reservation/target/classes/static/bower_components/html5-boilerplate/test/file_existence.js
TV-reservation/target/classes/static/bower_components/jquery/.bower.json
TV-reservation/target/classes/static/bower_components/jquery/AUTHORS.txt
TV-reservation/target/classes/static/bower_components/jquery/bower.json
TV-reservation/target/classes/static/bower_components/jquery/LICENSE.txt
TV-reservation/target/classes/static/bower_components/jquery/README.md
TV-reservation/target/classes/static/bower_components/jquery/dist/jquery.js
TV-reservation/target/classes/static/bower_components/jquery/dist/jquery.min.js
TV-reservation/target/classes/static/bower_components/jquery/dist/jquery.min.map
TV-reservation/target/classes/static/bower_components/jquery/dist/jquery.slim.js
TV-reservation/target/classes/static/bower_components/jquery/dist/jquery.slim.min.js
TV-reservation/target/classes/static/bower_components/jquery/dist/jquery.slim.min.map
TV-reservation/target/classes/static/bower_components/jquery/sizzle/LICENSE.txt
TV-reservation/target/classes/static/bower_components/jquery/sizzle/dist/sizzle.js
TV-reservation/target/classes/static/bower_components/jquery/sizzle/dist/sizzle.min.js
TV-reservation/target/classes/static/bower_components/jquery/sizzle/dist/sizzle.min.map
TV-reservation/target/classes/static/bower_components/jquery/src/.jshintrc
TV-reservation/target/classes/static/bower_components/jquery/src/ajax.js
TV-reservation/target/classes/static/bower_components/jquery/src/attributes.js
TV-reservation/target/classes/static/bower_components/jquery/src/callbacks.js
TV-reservation/target/classes/static/bower_components/jquery/src/core.js
TV-reservation/target/classes/static/bower_components/jquery/src/css.js
TV-reservation/target/classes/static/bower_components/jquery/src/data.js
TV-reservation/target/classes/static/bower_components/jquery/src/deferred.js
TV-reservation/target/classes/static/bower_components/jquery/src/deprecated.js
TV-reservation/target/classes/static/bower_components/jquery/src/dimensions.js
TV-reservation/target/classes/static/bower_components/jquery/src/effects.js
TV-reservation/target/classes/static/bower_components/jquery/src/event.js
TV-reservation/target/classes/static/bower_components/jquery/src/intro.js
TV-reservation/target/classes/static/bower_components/jquery/src/jquery.js
TV-reservation/target/classes/static/bower_components/jquery/src/manipulation.js
TV-reservation/target/classes/static/bower_components/jquery/src/offset.js
TV-reservation/target/classes/static/bower_components/jquery/src/outro.js
TV-reservation/target/classes/static/bower_components/jquery/src/queue.js
TV-reservation/target/classes/static/bower_components/jquery/src/selector-native.js
TV-reservation/target/classes/static/bower_components/jquery/src/selector-sizzle.js
TV-reservation/target/classes/static/bower_components/jquery/src/selector.js
TV-reservation/target/classes/static/bower_components/jquery/src/serialize.js
TV-reservation/target/classes/static/bower_components/jquery/src/support.js
TV-reservation/target/classes/static/bower_components/jquery/src/traversing.js
TV-reservation/target/classes/static/bower_components/jquery/src/wrap.js
TV-reservation/target/classes/static/bower_components/jquery/src/ajax/jsonp.js
TV-reservation/target/classes/static/bower_components/jquery/src/ajax/load.js
TV-reservation/target/classes/static/bower_components/jquery/src/ajax/parseJSON.js
TV-reservation/target/classes/static/bower_components/jquery/src/ajax/parseXML.js
TV-reservation/target/classes/static/bower_components/jquery/src/ajax/script.js
TV-reservation/target/classes/static/bower_components/jquery/src/ajax/xhr.js
TV-reservation/target/classes/static/bower_components/jquery/src/ajax/var/location.js
TV-reservation/target/classes/static/bower_components/jquery/src/ajax/var/nonce.js
TV-reservation/target/classes/static/bower_components/jquery/src/ajax/var/rquery.js
TV-reservation/target/classes/static/bower_components/jquery/src/attributes/attr.js
TV-reservation/target/classes/static/bower_components/jquery/src/attributes/classes.js
TV-reservation/target/classes/static/bower_components/jquery/src/attributes/prop.js
TV-reservation/target/classes/static/bower_components/jquery/src/attributes/support.js
TV-reservation/target/classes/static/bower_components/jquery/src/attributes/val.js
TV-reservation/target/classes/static/bower_components/jquery/src/core/access.js
TV-reservation/target/classes/static/bower_components/jquery/src/core/DOMEval.js
TV-reservation/target/classes/static/bower_components/jquery/src/core/init.js
TV-reservation/target/classes/static/bower_components/jquery/src/core/parseHTML.js
TV-reservation/target/classes/static/bower_components/jquery/src/core/ready.js
TV-reservation/target/classes/static/bower_components/jquery/src/core/support.js
TV-reservation/target/classes/static/bower_components/jquery/src/core/var/rsingleTag.js
TV-reservation/target/classes/static/bower_components/jquery/src/css/addGetHookIf.js
TV-reservation/target/classes/static/bower_components/jquery/src/css/adjustCSS.js
TV-reservation/target/classes/static/bower_components/jquery/src/css/curCSS.js
TV-reservation/target/classes/static/bower_components/jquery/src/css/defaultDisplay.js
TV-reservation/target/classes/static/bower_components/jquery/src/css/hiddenVisibleSelectors.js
TV-reservation/target/classes/static/bower_components/jquery/src/css/showHide.js
TV-reservation/target/classes/static/bower_components/jquery/src/css/support.js
TV-reservation/target/classes/static/bower_components/jquery/src/css/var/cssExpand.js
TV-reservation/target/classes/static/bower_components/jquery/src/css/var/getStyles.js
TV-reservation/target/classes/static/bower_components/jquery/src/css/var/isHidden.js
TV-reservation/target/classes/static/bower_components/jquery/src/css/var/rmargin.js
TV-reservation/target/classes/static/bower_components/jquery/src/css/var/rnumnonpx.js
TV-reservation/target/classes/static/bower_components/jquery/src/css/var/swap.js
TV-reservation/target/classes/static/bower_components/jquery/src/data/accepts.js
TV-reservation/target/classes/static/bower_components/jquery/src/data/Data.js
TV-reservation/target/classes/static/bower_components/jquery/src/data/support.js
TV-reservation/target/classes/static/bower_components/jquery/src/data/var/acceptData.js
TV-reservation/target/classes/static/bower_components/jquery/src/data/var/dataPriv.js
TV-reservation/target/classes/static/bower_components/jquery/src/data/var/dataUser.js
TV-reservation/target/classes/static/bower_components/jquery/src/deferred/exceptionHook.js
TV-reservation/target/classes/static/bower_components/jquery/src/effects/animatedSelector.js
TV-reservation/target/classes/static/bower_components/jquery/src/effects/support.js
TV-reservation/target/classes/static/bower_components/jquery/src/effects/Tween.js
TV-reservation/target/classes/static/bower_components/jquery/src/event/ajax.js
TV-reservation/target/classes/static/bower_components/jquery/src/event/alias.js
TV-reservation/target/classes/static/bower_components/jquery/src/event/focusin.js
TV-reservation/target/classes/static/bower_components/jquery/src/event/support.js
TV-reservation/target/classes/static/bower_components/jquery/src/event/trigger.js
TV-reservation/target/classes/static/bower_components/jquery/src/exports/amd.js
TV-reservation/target/classes/static/bower_components/jquery/src/exports/global.js
TV-reservation/target/classes/static/bower_components/jquery/src/manipulation/_evalUrl.js
TV-reservation/target/classes/static/bower_components/jquery/src/manipulation/buildFragment.js
TV-reservation/target/classes/static/bower_components/jquery/src/manipulation/createSafeFragment.js
TV-reservation/target/classes/static/bower_components/jquery/src/manipulation/getAll.js
TV-reservation/target/classes/static/bower_components/jquery/src/manipulation/setGlobalEval.js
TV-reservation/target/classes/static/bower_components/jquery/src/manipulation/support.js
TV-reservation/target/classes/static/bower_components/jquery/src/manipulation/wrapMap.js
TV-reservation/target/classes/static/bower_components/jquery/src/manipulation/var/nodeNames.js
TV-reservation/target/classes/static/bower_components/jquery/src/manipulation/var/rcheckableType.js
TV-reservation/target/classes/static/bower_components/jquery/src/manipulation/var/rleadingWhitespace.js
TV-reservation/target/classes/static/bower_components/jquery/src/manipulation/var/rscriptType.js
TV-reservation/target/classes/static/bower_components/jquery/src/manipulation/var/rtagName.js
TV-reservation/target/classes/static/bower_components/jquery/src/queue/delay.js
TV-reservation/target/classes/static/bower_components/jquery/src/traversing/findFilter.js
TV-reservation/target/classes/static/bower_components/jquery/src/traversing/var/dir.js
TV-reservation/target/classes/static/bower_components/jquery/src/traversing/var/rneedsContext.js
TV-reservation/target/classes/static/bower_components/jquery/src/traversing/var/siblings.js
TV-reservation/target/classes/static/bower_components/jquery/src/var/arr.js
TV-reservation/target/classes/static/bower_components/jquery/src/var/class2type.js
TV-reservation/target/classes/static/bower_components/jquery/src/var/concat.js
TV-reservation/target/classes/static/bower_components/jquery/src/var/deletedIds.js
TV-reservation/target/classes/static/bower_components/jquery/src/var/document.js
TV-reservation/target/classes/static/bower_components/jquery/src/var/documentElement.js
TV-reservation/target/classes/static/bower_components/jquery/src/var/hasOwn.js
TV-reservation/target/classes/static/bower_components/jquery/src/var/indexOf.js
TV-reservation/target/classes/static/bower_components/jquery/src/var/pnum.js
TV-reservation/target/classes/static/bower_components/jquery/src/var/push.js
TV-reservation/target/classes/static/bower_components/jquery/src/var/rcssNum.js
TV-reservation/target/classes/static/bower_components/jquery/src/var/rnotwhite.js
TV-reservation/target/classes/static/bower_components/jquery/src/var/slice.js
TV-reservation/target/classes/static/bower_components/jquery/src/var/support.js
TV-reservation/target/classes/static/bower_components/jquery/src/var/toString.js
TV-reservation/target/classes/static/bower_components/jquery-mousewheel/.bower.json
TV-reservation/target/classes/static/bower_components/jquery-mousewheel/bower.json
TV-reservation/target/classes/static/bower_components/jquery-mousewheel/ChangeLog.md
TV-reservation/target/classes/static/bower_components/jquery-mousewheel/jquery.mousewheel.js
TV-reservation/target/classes/static/bower_components/jquery-mousewheel/jquery.mousewheel.min.js
TV-reservation/target/classes/static/bower_components/jquery-mousewheel/LICENSE.txt
TV-reservation/target/classes/static/bower_components/jquery-mousewheel/README.md
TV-reservation/target/classes/static/bower_components/malihu-custom-scrollbar-plugin/.bower.json
TV-reservation/target/classes/static/bower_components/malihu-custom-scrollbar-plugin/bower.json
TV-reservation/target/classes/static/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js
TV-reservation/target/classes/static/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css
TV-reservation/target/classes/static/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js
TV-reservation/target/classes/static/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css
TV-reservation/target/classes/static/bower_components/malihu-custom-scrollbar-plugin/mCSB_buttons.png
TV-reservation/target/classes/static/bower_components/ng-scrollbars/.bower.json
TV-reservation/target/classes/static/bower_components/ng-scrollbars/bower.json
TV-reservation/target/classes/static/bower_components/ng-scrollbars/gulpfile.js
TV-reservation/target/classes/static/bower_components/ng-scrollbars/LICENSE.txt
TV-reservation/target/classes/static/bower_components/ng-scrollbars/package.json
TV-reservation/target/classes/static/bower_components/ng-scrollbars/readme.md
TV-reservation/target/classes/static/bower_components/ng-scrollbars/dist/scrollbars.min.js
TV-reservation/target/classes/static/bower_components/ng-scrollbars/src/scrollbars.js
TV-reservation/target/classes/static/components/version/interpolate-filter_test.js
TV-reservation/target/classes/static/components/version/interpolate-filter.js
TV-reservation/target/classes/static/components/version/version_test.js
TV-reservation/target/classes/static/components/version/version-directive_test.js
TV-reservation/target/classes/static/components/version/version-directive.js
TV-reservation/target/classes/static/components/version/version.js
TV-reservation/target/classes/static/images/BSQUARE.bmp
TV-reservation/target/classes/static/images/jbosscorp_logo.png
TV-reservation/target/classes/static/images/WSQUARE.bmp
TV-reservation/target/classes/static/images/pieces/BB.png
TV-reservation/target/classes/static/images/pieces/BK.png
TV-reservation/target/classes/static/images/pieces/BN.png
TV-reservation/target/classes/static/images/pieces/BP.png
TV-reservation/target/classes/static/images/pieces/BQ.png
TV-reservation/target/classes/static/images/pieces/BR.png
TV-reservation/target/classes/static/images/pieces/WB.png
TV-reservation/target/classes/static/images/pieces/WK.png
TV-reservation/target/classes/static/images/pieces/WN.png
TV-reservation/target/classes/static/images/pieces/WP.png
TV-reservation/target/classes/static/images/pieces/WQ.png
TV-reservation/target/classes/static/images/pieces/WR.png
TV-reservation/target/classes/static/js/constants.js
TV-reservation/target/classes/static/js/directives/draggableDirective.js
TV-reservation/target/classes/static/js/filters/filters.js
TV-reservation/target/classes/static/js/services/loginservice.js
TV-reservation/target/classes/static/js/services/reservationService.js
TV-reservation/target/classes/static/js/services/websocketService.js
TV-reservation/target/classes/static/views/admin/admin.html
TV-reservation/target/classes/static/views/admin/admin.js
TV-reservation/target/classes/static/views/lobby/lobby.html
TV-reservation/target/classes/static/views/lobby/lobby.js
TV-reservation/target/classes/static/views/login/login.html
TV-reservation/target/classes/static/views/login/login.js
TV-reservation/target/classes/static/views/login/view1_test.js
TV-reservation/target/classes/static/views/playingHall/playingHall.html
TV-reservation/target/classes/static/views/playingHall/playingHall.js
TV-reservation/target/classes/static/views/playingHall/postGameModal.html
TV-reservation/target/classes/static/views/registration/registerUser.html
TV-reservation/target/classes/static/views/registration/registration.js
TV-reservation/target/classes/static/views/reservation/confirmationWindow.html
TV-reservation/target/classes/static/views/reservation/reservation.html
TV-reservation/target/classes/static/views/reservation/reservation.js
TV-reservation/target/classes/static/views/reservation/view2_test.js
TV-reservation/target/test-classes/tests/LoginEndpointTest.class
.vscode/launch.json
.vscode/settings.json
TV-reservation/.settings/org.eclipse.jdt.apt.core.prefs
TV-reservation/.settings/org.eclipse.jdt.core.prefs
TV-reservation/.settings/org.eclipse.wst.common.component
TV-reservation/.settings/org.eclipse.jdt.core.prefs
TV-reservation/.settings/org.eclipse.wst.common.component
