<div class="container bordered">
    <div class="playerNamesRow">
        <div class="playersRow">
            <div class="players col-md-12 alert-primary" *ngIf="whitePlayerName">
                {{whitePlayerName}}({{whitePlayerElo}}) -
                {{blackPlayerName}}({{blackPlayerElo}}) <span *ngIf="gameResult !== 'N\A'">Game result:
                    {{gameResult}}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 centeredColumnWrapper">
            <chessboard [gameId]="gameId" [color]="whitePlayer ? 'w': 'b'" [mode]="mode"></chessboard>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 centeredColumnWrapper" style="display:flex;flex-direction: column;justify-content: space-between;"
            >
            <div class="row clockRow"
                [hidden]="!whitePlayerName || (mode !== chessboardUsageModes.PLAYING || activeMedia ==='sm')">
                <div class="col-md-6">
                    <table class="clockSideSection">
                        <tr>
                            <td *ngIf="!whitePlayer">{{whitePlayerName}} ({{whitePlayerElo}})
                                <span
                                    *ngIf="gameResult !== 'N\A'">{{whitePlayerEloChange >= 0 ? "+"+whitePlayerEloChange : whitePlayerEloChange}}</span>
                            </td>
                            <td *ngIf="whitePlayer">{{blackPlayerName}} ({{blackPlayerElo}})
                                <span
                                    *ngIf="gameResult !== 'N\A'">{{blackPlayerEloChange >= 0 ? "+"+blackPlayerEloChange : blackPlayerEloChange}}</span>
                            </td>
                        </tr>
                        <tr>
                            <chess-clock [gameId]="gameId" [color]="whitePlayer ? 'b': 'w'"
                                [time]="whitePlayer ? blackTime : whiteTime" [increment]="increment" [mode]="mode"></chess-clock>
                        </tr>

                    </table>
                </div>
                <div class="col-sm-6">

                </div>
            </div>

            <div class="row" *ngIf="mode === chessboardUsageModes.PLAYING">
                <div class="col">
                    <div class="row" 
                        class="alert alert-danger" *ngIf="oponentDisconnected && mode === chessboardUsageModes.PLAYING">
                        <div class="col" >
                            <span>Oponent disconnected</span>
                        </div>
                    </div>
                    <div class="row" *ngIf="gameResult !== 'N\A' && mode === chessboardUsageModes.PLAYING"
                        class="alert alert-info">
                        <div class="col">
                            <span>Game has ended:{{gameResult}}</span>
                        </div>
                    </div>
                    <div *ngIf="drawOfferRejected && mode === chessboardUsageModes.PLAYING" class="alert alert-info">
                        <div>
                            <span>{{oponent}} declined your draw offer.</span>
                        </div>
                    </div>
                    <div *ngIf="drawOfferReceived && mode === chessboardUsageModes.PLAYING" class="alert alert-info">
                        <div>
                            <span>{{oponent}} offered you a draw. Do you want to accept?</span>
                        </div>
                        <button (click)="drawOfferReply(true)" class="marginRight">Yes</button>
                        <button (click)="drawOfferReply(false)">No</button>
                    </div>
                    <div *ngIf="rematchOfferReceived && gameResult !== 'N\A'" class="alert alert-info">
                        <span>{{oponent}} offered you a rematch. Do you want to accept ?</span>
                        <button (click)="replyToRematchOffer(true)" class="marginRight">Yes</button>
                        <button (click)="replyToRematchOffer(false)">No</button>
                    </div>
                    <div *ngIf="resignButtonPressed && mode === chessboardUsageModes.PLAYING" class="alert alert-info">
                        <span>Do you really want to resign?</span>
                        <button (click)="resign()" class="marginRight">Yes</button>
                        <button (click)="resignButtonPressed = false">No</button>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="mode === chessboardUsageModes.PLAYING">

                <div [ngClass]="{col:true, centeredFlexWrapper:activeMedia === 'sm'}">
                    <div  id="drawResignSection">
                        <button *ngIf="playingGame" (click)="offerDraw()" class="btn btn-primary marginRight">Offer
                            Draw</button>
                        <button *ngIf="playingGame" (click)="resignButtonPressed = true"
                            class="btn btn-primary marginRight">Resign</button>
                        <button *ngIf="!playingGame" (click)="offerRematch()" class="btn btn-primary marginRight">Offer
                            rematch</button>
                        <button *ngIf="!playingGame" (click)="activateAnalysisMode()"
                            class="btn btn-primary marginRight">Analyse</button>
                    </div>

                </div>
            </div>
            <app-position-setup *ngIf="mode === chessboardUsageModes.ANALYZING" ></app-position-setup>
            <annotation-table [gameId]="gameId" *ngIf="!positionSetupActive" [annotatedMoves]="annotatedMoves" style="margin-top:10px" ></annotation-table>

            <div [hidden]="activeMedia === 'sm'" class="row clockRow">
                <div class="col-md-12">
                    <table [hidden]="!whitePlayerName || mode !== chessboardUsageModes.PLAYING">
                        <tr>
                            <td *ngIf="whitePlayer">{{whitePlayerName}} ({{whitePlayerElo}})
                                <span
                                    *ngIf="gameResult !== 'N\A'">{{whitePlayerEloChange >= 0 ? "+"+whitePlayerEloChange : whitePlayerEloChange}}</span>
                            </td>
                            <td *ngIf="!whitePlayer">{{blackPlayerName}} ({{blackPlayerElo}})
                                <span
                                    *ngIf="gameResult !== 'N\A'">{{blackPlayerEloChange >= 0 ? "+"+blackPlayerEloChange : blackPlayerEloChange}}</span>
                            </td>
                        </tr>
                        <tr>
                            <chess-clock [gameId]="gameId" [color]="whitePlayer ? 'w': 'b'"
                                [time]="whitePlayer ? whiteTime : blackTime" [increment]="increment" [mode]="mode"></chess-clock>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row marginTop" *ngIf="matchScore.length > 0" >
        <div class="col" style="padding:20px"> 
        <h5>Overall score</h5>
        <table class="table table-striped" style="padding:5px">
            <thead>
                <th>Player</th>
                <th *ngFor="let gameResult of matchScore; index as i" style="max-width: 20px;">#{{i+1}}</th>
            </thead>
            <tr>
                <td>{{user}}</td>
                <td *ngFor="let gameResult of matchScore" style="max-width: 20px;">{{gameResult}}</td>
            </tr>
            <tr>
                <td>{{oponent}}</td>
                <td *ngFor="let gameResult of matchScore">{{gameResult === 1 ? 0 : gameResult === 0 ? 1 : 0.5}}</td>
            </tr>
        </table>
    </div>
    </div>





</div>