<div class="container bordered withPadding" ng-show="!playingGame">
	<div id="login-data">
		<div class="form-group">
			<h4>Play a new game:</h4>
		</div>
	</div>
	<button type="submit" class="btn btn-primary"
		ng-click="seekOponent(1,0)" id="seek1">1+0</button>
	<button type="submit" class="btn btn-primary"
		ng-click="seekOponent(3,0)">3+0</button>
	<button type="submit" class="btn btn-primary"
		ng-click="seekOponent(5,0)">5+0</button>
	<button type="submit" class="btn btn-primary"
		ng-click="seekOponent(3,1)">3+1</button>
	<button type="submit" class="btn btn-primary" ng-click="showSeekForm()"
		id="seek2">Other time</button>
	<div></div>
	<div class="col-md-6" ng-show="!playingGame && seekFormShown==true">
		<form name="formLogin" novalidate>
			<div id="login-data">
				<div class="form-group">
					<h4>Specify time and increment</h4>
				</div>
				<div ng-if="error" class="alert alert-danger">Wrong username
					or password</div>
				<div class="form-group">
					<div class="form-group">
						<label for="time">Time</label> <input type="text"
							class="form-control" name="time" id="tim" ng-model="time"
							required /> <label
							ng-show="formLogin.time.$error.required && uname"
							ngclass="{'
text-danger': formLogin.uname.$error.required}">
							Enter time.</label>
					</div>

					<div class="form-group">
						<label for="increment">Increment:</label> <input type="text"
							class="form-control" name="increment" id="incr"
							ng-model="increment" required /> <label
							ng-show="formLogin.increment.$error.required && pass"
							ngclass="{'
text-danger': formLogin.increment.$error.required}">
							Enter increment.</label>
					</div>

					<button type="submit" class="btn btn-primary"
						ng-click="seekOponent()">Find oponent</button>
				</div>
			</div>
		</form>
	</div>
</div>


<div class="container bordered">
	<div class="col-md-12 playersRow">
		<div class="players col-md-12 alert-success" ng-if="whitePlayerName">
			{{whitePlayerName}}({{whitePlayerElo}}) -
			{{blackPlayerName}}({{blackPlayerElo}})</div>
	</div>
	<div class="col-md-6">

		<div class="promotionPieces" ng-if="promotionSquareReached==true">
			Which piece do you want to promote the pawn to?
			<table>
				<tr>
					<td>
						<div style="position: relative">
							<image class="chessPiece"
								ng-src="{{whitePlayer==true?'images/pieces/WN.png':'images/pieces/BN.png'}}"
								ng-click="whitePlayer==true?promotePiece('WN'):promotePiece('BN')" />
						</div>
					</td>
					<td>
						<div style="position: relative">
							<image class="chessPiece"
								ng-src="{{whitePlayer==true?'images/pieces/WB.png':'images/pieces/BB.png'}}"
								ng-click="whitePlayer==true?promotePiece('WB'):promotePiece('BB')" />
						</div>
					</td>
					<td>
						<div style="position: relative">
							<image class="chessPiece"
								ng-src="{{whitePlayer==true?'images/pieces/WR.png':'images/pieces/BR.png'}}"
								ng-click="whitePlayer==true?promotePiece('WR'):promotePiece('BR')" />
						</div>
					</td>
					<td>
						<div style="position: relative">
							<image class="chessPiece"
								ng-src="{{whitePlayer==true?'images/pieces/WQ.png':'images/pieces/BQ.png'}}"
								ng-click="whitePlayer==true?promotePiece('WQ'):promotePiece('BQ')" />
						</div>
					</td>
				</tr>
			</table>
		</div>


		<table id="whiteBoard" name="chessboardTable"
			ng-if="whitePlayer==true">
			<tr ng-repeat="row in [7,6,5,4,3,2,1,0] track by $index">
				<td ng-repeat="column in [0,1,2,3,4,5,6,7] track by $index">
		
					<div style="position: relative">
						<img class="square" id="{{'WBS'+column+''+row}}"
							ng-if="(row%2==0 && column%2==0) || (row%2!=0 && column%2!=0)"
							src="images/BSQUARE.bmp" /> <img class="square"
							id="{{'WWS'+column+''+row}}"
							ng-if="(row%2==0 && column%2!=0) || (row%2!=0 && column%2==0)"
							src="images/WSQUARE.bmp" /> <img id="{{'BP'+column+''+row}}"
							draggable="{{newGame}}" class="chessPiece"
							src="images/pieces/BP.png" ng-if="row==6" /> <img
							id="{{'BR'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/BR.png"
							ng-if="row==7 && (column==0 || column==7)" /> <img
							id="{{'BN'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/BN.png"
							ng-if="row==7 && (column==1 || column==6)" /> <img
							id="{{'BB'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/BB.png"
							ng-if="row==7 && (column==2 || column==5)" /> <img
							id="{{'BQ'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/BQ.png"
							ng-if="row==7 && (column==3)" /> <img
							id="{{'BK'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/BK.png"
							ng-if="row==7 && (column==4)" /> <img
							id="{{'WP'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/WP.png" ng-if="row==1" />
						<img id="{{'WR'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/WR.png"
							ng-if="row==0 && (column==0 || column==7)" /> <img
							id="{{'WN'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/WN.png"
							ng-if="row==0 && (column==1 || column==6)" /> <img
							id="{{'WB'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/WB.png"
							ng-if="row==0 && (column==2 || column==5)" /> <img
							id="{{'WQ'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/WQ.png"
							ng-if="row==0 && (column==3)" /> <img
							id="{{'WK'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/WK.png"
							ng-if="row==0 && (column==4)" />
					</div>
					
				</td>
			</tr>
		</table>

		<table id="blackBoard" name="chessboardTable"
			ng-if="whitePlayer==false">
			<tr ng-repeat="row in [0,1,2,3,4,5,6,7] track by $index">
				<td ng-repeat="column in [7,6,5,4,3,2,1,0] track by $index">
					<div style="position: relative">
						<img class="square"
							ng-if="(row%2==0 && column%2==0) || (row%2!=0 && column%2!=0)"
							id="{{'BBS'+column+''+row}}" src="images/BSQUARE.bmp" /> <img
							class="square"
							ng-if="(row%2==0 && column%2!=0) || (row%2!=0 && column%2==0)"
							id="{{'BWS'+column+''+row}}" src="images/WSQUARE.bmp" /> <img
							id="{{'BP'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/BP.png" ng-if="row==6" />
						<img id="{{'BR'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/BR.png"
							ng-if="row==7 && (column==0 || column==7)" /> <img
							id="{{'BN'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/BN.png"
							ng-if="row==7 && (column==1 || column==6)" /> <img
							id="{{'BB'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/BB.png"
							ng-if="row==7 && (column==2 || column==5)" /> <img
							id="{{'BQ'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/BQ.png"
							ng-if="row==7 && (column==3)" /> <img
							id="{{'BK'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/BK.png"
							ng-if="row==7 && (column==4)" /> <img
							id="{{'WP'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/WP.png" ng-if="row==1" />
						<img id="{{'WR'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/WR.png"
							ng-if="row==0 && (column==0 || column==7)" /> <img
							id="{{'WN'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/WN.png"
							ng-if="row==0 && (column==1 || column==6)" /> <img
							id="{{'WB'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/WB.png"
							ng-if="row==0 && (column==2 || column==5)" /> <img
							id="{{'WQ'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/WQ.png"
							ng-if="row==0 && (column==3)" /> <img
							id="{{'WK'+column+''+row}}" draggable="{{newGame}}"
							class="chessPiece" src="images/pieces/WK.png"
							ng-if="row==0 && (column==4)" />
					</div>

				</td>
			</tr>
		</table>
	</div>



	<div class="col-md-6">
		<div class="row">

			<div class="col-md-6">
				<table ng-if="whitePlayerName" class="clockSideSection">
					<tr>
						<td>{{whitePlayerName}} ({{whitePlayerElo}})</td>

					</tr>
					<tr>
						<td class="clock">{{whiteClock}}</td>
					</tr>
					<tr>
						<td>{{blackPlayerName}} ({{blackPlayerElo}})</td>
					</tr>
					<tr>
						<td class="clock">{{blackClock}}</td>
					</tr>
					<tr>{{gameResult}}
					<tr>
				</table>
			</div>
			<div class="col-md-6">
				<div ng-if="whitePlayerName" id="drawResignSection">

					<button ng-click="offerDraw()" class="btn btn-primary">Offer
						Draw</button>
					<button ng-click="resign()" class="btn btn-primary">Resign</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div ng-if="whitePlayerName && drawOfferReceived"
				class="alert alert-info">
				<span>{{oponent}} offered you a draw. Do you want to accept?</span>
				<button ng-click="drawOfferReply(true)">Yes</button>
				<button ng-click="drawOfferReply(false)">No</button>

			</div>

		</div>


		<div class="notation"
			ng-if="annotatedMoves.length!==0 && annotatedMoves">

			<table class="notationTable table table-bordered">
				<theader>
				<tr>
					<td>Move no.</td>
					<td>White move</td>
					<td>Black move</td>
				</tr>
				</theader>
				<tbody>

					<tr ng-repeat="annotatedMove in annotatedMoves">
						<td>{{annotatedMove.number}}</td>
						<td>{{annotatedMove.white}}</td>
						<td>{{annotatedMove.black}}</td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>

</div>