<div class="container" *ngIf="fetchInitData" >
    <div class="row marginBottom">
        <div class="col">Players online:
            {{countOfPlayersOnline}} <br>
            Games in progress: {{gamesInProgress}}
        </div>
        <div class="col-md-10">


            <div class="row marginBottom">
                <div class="col">
                    <div>
                        <h4>Lobby</h4>
                    </div>
                </div>

            </div>

            <div class="row marginBottom">
                <div class="col">

                    <div class="card">
                        <div class="card-header">
                            Seek oponent
                        </div>
                        <div class="card-body">

                            <p class="card-text"> Select the game time and wait to be paired with an oponent
                            </p>

                            <div class="row marginBottom">
                                <div class="col-1" *ngIf="seekingOponent">
                                    <div class="loader" id="loader-1">

                                    </div>
                                </div>
                                <div class="col" *ngIf="seekingOponent">

                                    <span>Looking for an oponent - please wait...</span>

                                </div>

                            </div>
                            <div class="row marginBottom">
                                <div class="col" style="display:flex;justify-content: space-between;">
                                    <button type="submit" class="btn btn-primary marginRight" (click)="seekOponent(1,0)"
                                        id="seek1">1+0
                                    </button>
                                    <button type="submit" class="btn btn-primary marginRight"
                                        (click)="seekOponent(3,0)">3+0
                                    </button>
                                    <button type="submit" class="btn btn-primary marginRight"
                                        (click)="seekOponent(5,0)">5+0
                                    </button>
                                    <button type="submit" class="btn btn-primary marginRight"
                                        (click)="seekOponent(3,1)">3+1
                                    </button>
                                    <button type="submit" class="btn btn-primary"
                                    (click)="seekOponent(90,30)">90+30
                                </button>
                                  
                                </div>
                            </div>
                            <div class="row marginBottom">
                                <div class="col" style="display:flex;justify-content: space-between;">
                                    <button type="submit" class="btn btn-primary marginRight" (click)="seekOponent(5,5)"
                                        id="seek1">5+5
                                    </button>
                                    <button type="submit" class="btn btn-primary marginRight"
                                        (click)="seekOponent(10,0)">10+0
                                    </button>
                                    <button type="submit" class="btn btn-primary marginRight"
                                        (click)="seekOponent(15,0)">15+0
                                    </button>
                                    <button type="submit" class="btn btn-primary marginRight"
                                        (click)="seekOponent(45,45)">45+45
                                    </button>
                                    <button type="submit" class="btn btn-primary" (click)="showSeekForm()"
                                    id="seek2">Other
                                </button>
                               
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div *ngIf="gameTimeFormShown==true">
                                        <form [formGroup]="gameTimeForm" (ngSubmit)="seekOponent()">
                                            <div class="form-group">
                                                <label for="initialtime">Initial Time</label>
                                                <input type="text" formControlName="initialtime" class="form-control"
                                                    [ngClass]="{ 'is-invalid': gameTimeFormSubmitted && gameTimeFormFields.initialtime.errors }" />
                                                <div *ngIf="gameTimeFormSubmitted && gameTimeFormFields.initialtime.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="gameTimeFormFields.initialtime.errors.required">Initial
                                                        time is
                                                        required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="incrementpermove">Increment per move</label>
                                                <input type="incrementpermove" formControlName="incrementpermove"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': gameTimeFormSubmitted && gameTimeFormFields.incrementpermove.errors }" />
                                                <div *ngIf="gameTimeFormSubmitted && gameTimeFormFields.incrementpermove.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="gameTimeFormFields.incrementpermove.errors.required">
                                                        Increment per
                                                        move
                                                        is required</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary">
                                                    <span *ngIf="seekingOponent"
                                                        class="spinner-border spinner-border-sm mr-1"></span>
                                                    Find oponent
                                                </button>
                                            </div>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>




            <div class="row marginBottom">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Players Online
                        </div>
                        <div class="card-body">

                            <div *ngIf="playersOnline.length !== 0">
                                <table class="table table-fixed">
                                    <thead>
                                        <tr>
                                            <th class="col-4">Player name</th>
                                            <th class="col-4">Player elo</th>
                                            <th class="col-4">Player status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let player of playersOnline">
                                            <td class="col-4">{{player.name}}</td>
                                            <td class="col-4">{{player.elo}}</td>
                                            <td class="col-4">

                                                <h5  *ngIf="player.isPlaying" style="margin:0px"><span class="badge badge-info">Playing
                                                    </span></h5>
                                                <span class="glyphicon glyphicon-eye-open" *ngIf="player.isPlaying"
                                                    (click)="observeGame(player.gameId)">Observe game</span>
                                                <h5  *ngIf="((player.name !== user && player.isSeeking) || (player.name === user && seekingOponent)) && !player.isPlaying"><span
                                                       
                                                        class="badge badge-secondary">Seeking</span></h5>
                                                <h5 *ngIf="((player.name !== user && !player.isSeeking) || (player.name === user && !seekingOponent)) && !player.isPlaying"><span
                                                        
                                                        class="badge badge-success">Idle</span></h5>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row chatMessageDiv">
                <div class="col">

                    <div class="card">
                        <div class="card-header">
                            Lobby chat
                        </div>
                        <div class="card-body">

                            <div #chatDiv class="chatWindow">

                                <div id="chatPost" *ngFor="let message of messages.slice().reverse()">
                                    <label class="chatPostAuthor" for="message">{{message.date | date:'H:mm' }}
                                        {{message.author}}:</label>
                                    <span id="chatmessage">{{message.message}}</span>
                                </div>


                            </div>

                            <div class="sendChatMessageDiv">
                                <input type="text" id="chatmessageInput" [(ngModel)]="chatMessage.message">
                                <button (click)="sendChatMessage()">Send</button>
                            </div>
                        </div>
                    </div>



                </div>




            </div>
        </div>