<div class="modal-header">
    <h3 class="modal-title">Confirm reservation</h3>
</div>

<div class="modal-body">
	<div class="alert alert-danger" ng-if="errorMessage">
{{errorMessage}}
	</div>
	Do you want to reserve the timeslot: {{timeSlot.startTime| date:'dd.MM.yyyy HH:mm'}}-{{timeSlot.endTime| date:'HH:mm'}} on court {{timeSlot.courtnumber}} ?
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="makeReservation()">Reserve timeslot</button>
    <button class="btn btn-primary" ng-click="close()">Cancel</button>
</div>