
<div class="container">
	<div class="formContainer">
		<form name="formSlotSelect" novalidate>
<div class="form-group">
				<h2>Reservation system</h2>
			</div>
			<div class="form-group">
			<label>Account balance:</label>
			<input type="text" name="accountbalance"
					id="sum" class="form-control" readonly value="{{user.accountbalance}} Euro"/>
			</div>

			<div class="form-group">
				<label for="username">Select date:</label> <select
					ng-model="selectedDate"
					ng-options="uniqueDate as uniqueDate for uniqueDate in uniqueDates" class="form-control">

				</select>
			</div>

		</form>
	</div>




	<div ng-if="selectedDate"  >

		
			<div ng-repeat="court in [1,2,3,4] track by $index">
				<div class="col-sm-12" style="padding-left:0px">
					<h3>Court no.{{court}}</h3>
				</div>

				<div
					ng-repeat="timeslot in timeslots|timeSlotFilter:(selectedDate)|filter:{courtnumber: court}"
					ng-click="timeslot.userAccount?'':openDialog(timeslot,user.userId)"
					ng-class="timeslot.userAccount.userId?timeslot.userAccount.userId==user.userId?'col-sm-5 timeslot myreservation': 'col-sm-5 timeslot reserved': 'col-sm-5 timeslot available'">
					<span>{{timeslot.startTime| date:'dd.MM.HH:mm'}}-{{timeslot.endTime| date:'HH:mm'}}</span> <span
						ng-if="timeslot.userAccount && timeslot.userAccount.userId!=user.userId">Reserved</span>
					<span
						ng-if="timeslot.userAccount && timeslot.userAccount.userId==user.userId">My
						Reservation</span>
				</div>

			</div>
		

	</div>
	
	</div>
