<div style="height:100vh">
    <mat-sidenav-container style="height:100vh">
        <mat-sidenav #sidenav mode="side" opened class="col-3" flex>
            <mat-nav-list>

                <mat-list-item> <a (click)="clickUserProfile()">User Profile</a></mat-list-item>
                <mat-list-item><a (click)="clickUserStatistics()">User Statistics</a></mat-list-item>
                <mat-list-item> <a (click)="clickGameHistory()">Game History</a></mat-list-item>

            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="col-9">
            <div class="container">
                <div *ngIf="showUserProfile">
                    <div class="row">
                        <div class="col">

                            <div class="card mb-4 shadow-sm">
                                <div class="card-header">
                                    <h2>User Profile</h2>
                                </div>
                                <div class="card-body">

                                    <form [formGroup]="userProfileForm" (ngSubmit)="updateUserProfile()">
                                        <div *ngIf="userProfileFormFeedbackMessage.message" [ngClass]="{
                                    'alert':true, 
                                    'alert-danger':userProfileFormFeedbackMessage.type==='error', 
                                    'alert-info':userProfileFormFeedbackMessage.type==='info'}">
                                            {{userProfileFormFeedbackMessage.message}}</div>
                                        <div class="form-group">
                                            <label for="country">Country</label>
                                            <select formControlName="country" class="form-control">
                                                <option *ngFor="let countryCode of countryCodes" [value]="countryCode"
                                                    [selected]="countryCode === userCountry">
                                                    {{countries[countryCode].name}}</option>
                                            </select>
                                            <!-- <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
                                        <div *ngIf="formControls.username.errors.required">Username is required</div>
                                    </div> -->
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" formControlName="email" class="form-control"
                                                [ngClass]="{ 'is-invalid': userProfileFormSubmitted && formControls.email.errors }" />
                                            <!-- <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
                                        <div *ngIf="formControls.username.errors.required">Username is required</div>
                                    </div> -->
                                        </div>
                                        <div class="marginBottom"
                                            style="display:flex;justify-content: flex-start; align-items: center;">
                                            <label for="useravatar" class="marginRight">User Avatar </label>
                                            <img id="useravatar" style="max-height:50px;max-width:50px"
                                                class="img img-fluid img-thumbnail rounded-circle marginRight"
                                                [src]="userImageURL " />
                                            <input style="display: none" type="file"
                                                (change)="onUserImageChanged($event)" #fileInput>
                                            <button type="button" class="btn btn-primary"
                                                (click)="fileInput.click()">Select
                                                file</button>
                                            <!-- <button class="btn btn-primary"(click)="uploadUserImage()">Upload!</button> -->
                                        </div>
                                        <div class="form-group">
                                            <button [disabled]="userProfileFormLoading" class="btn btn-primary">
                                                <span *ngIf="userProfileFormLoading"
                                                    class="spinner-border spinner-border-sm mr-1"></span>
                                                Update user profile
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div *ngIf="showUserStatistics">

                    <div class="row marginBottom">
                        <div class="col">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">Game statistics</h4>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <table class="table table-sm table-fixed">


                                            <tbody>
                                                <tr>
                                                    <td class="col-6">Games played</td>
                                                    <td class="col-6">{{games.games.length}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-6">Wins</td>
                                                    <td class="col-6"><span> {{games.wins}} ({{games.wins /
                                                            games.games.length * 100 | number:'1.0-1'}}%)</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-6">Losses</td>
                                                    <td class="col-6"><span> {{games.losses}} ({{games.losses /
                                                            games.games.length * 100 | number:'1.0-1'}}%)</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-6">Draws</td>
                                                    <td class="col-6"><span> {{games.draws}} ({{games.draws /
                                                            games.games.length * 100 | number:'1.0-1'}}%)</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>



                <div class="row" *ngIf="showUserStatistics">
                    <div class="col-6">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Rating progression blitz</h4>
                            </div>
                            <div class="card-body">
                                <div class="marginBottom">
                                    <app-rating-chart ratingType='BLITZ'></app-rating-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Rating progression rapid</h4>
                            </div>
                            <div class="card-body">
                                <div class="marginBottom">
                                    <app-rating-chart ratingType='RAPID'></app-rating-chart>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div *ngIf="showGameHistory">
                <div class="row">
                    <div class="centeredFlexWrapper" style="width:100%">
                        <mat-paginator [length]="games.games.length" [pageSize]="gamesPageSize"
                            [showFirstLastButtons]="true" (page)="loadGames($event)">

                        </mat-paginator>
                    </div>
                </div>
                <div style="display:flex;flex-direction:row;flex-wrap: wrap;" >

                    <mat-card class="col-md-6 example-card marginBottom" *ngFor="let game of gamesOnPage">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>{{game.whitePlayer.username}} ({{game.whitePlayer.eloblitz}}) -
                            {{game.blackPlayer.username}} ({{game.blackPlayer.eloblitz}}) <br>
                            {{game.gameresult}}</mat-card-title>
                          
                          <mat-card-subtitle>{{game.time/60000}} + {{game.increment/1000}}<br>{{game.gameTimestamp | date:'dd.MM.yyyy HH:mm'}}</mat-card-subtitle>
                     
                        </mat-card-header>
                   
                        <chessboard class="marginBottom" [gamedata]="game" [color]="'w'" [mode]="'O'" [showClocks]=false></chessboard>
                
                    
                        <mat-card-content>
                            
                                <p>Moves:</p>
                          
                            
                                <span *ngFor="let move of game.annotatedMoves; index as moveNumber"
                                    style="margin-right:5px">{{moveNumber + 1}}. {{move.whiteMove}} {{move.blackMove}}
                                </span>
                            
                        </mat-card-content>
                        <mat-card-actions>
                          <button (click)="analyseGame(game.gameId)" mat-button>ANALYSE</button>                         
                        </mat-card-actions>
                      </mat-card>
                      

                </div>
            </div>


        </mat-sidenav-content>
    </mat-sidenav-container>
</div>