<div class="container">
<div class="formContainer">
	<p ng-if="authenticationResult==0">Wrong username or password</p>


	<form name="registrationForm" novalidate>


		<div class="form-group">
			<h2>User registration</h2>

			<div class="alert alert-success" ng-if="successMessage">
				{{successMessage}}</div>
		</div>
		<div class="form-group">
			<label for="username">Username:</label> <input type="text"
				class="form-control" name="uname" id="username" ng-model="username" />
		</div>

		<div class="form-group">
			<label for="password">Password:</label> <input type="text"
				class="form-control" name="pass" id="password" ng-model="password" />
		</div>

		<div class="form-group">
			<label for="password2">Confirm Password:</label> <input type="text"
				class="form-control" name="pass2" id="password2"
				ng-model="password2" />
		</div>

		<label ng-show="password!=password2 && password2"> The
			passwords you entered don't match.</label>

		<div class="form-group">
			<button type="submit" class="btn btn-primary"
				ng-click="registerUser()">Register User</button>
		</div>



</form>
</div>
</div>