<nav class="navbar navbar-expand-lg navbar-dark bg-primary marginBottom">
    <a class="navbar-brand" href="#">Slovak Chess Server</a>
    <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        [attr.aria-expanded]="!navbarCollapsed" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show':!navbarCollapsed}">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" *ngIf="!userLoggedIn()">
                <a class="nav-link" routerLink="register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="login" *ngIf="!userLoggedIn()">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="lobby">Play</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="watchGames">Watch</a>
            </li>
            <li class="nav-item" *ngIf="userLoggedIn()">
                <a class="nav-link" routerLink="analyzeGame">Analyse</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link marginRight" *ngIf="userLoggedIn()" style="cursor:pointer" routerLink="userprofile">
                        <span class="glyphicon glyphicon-user"></span>{{user}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="userLoggedIn()" (click)="logout()" style="cursor:pointer">
                        <span class="glyphicon glyphicon-log-out"></span>Log out</a>
                </li>
            </ul>

        </form>
    </div>
</nav>

<div *ngIf="routerOnHomePage()" class="container">
    <div class="row marginBottom">
        <div class="col">
            <h5>Scheduled tournaments</h5> <button>Join</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Best players bullet</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Player name</th>
                        <th>Player elo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of bestPlayersBullet">
                        <td>{{player.username}}</td>
                        <td>{{player.elobullet}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col">
            <h5>Best players blitz</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Player name</th>
                        <th>Player elo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of bestPlayersBlitz">
                        <td>{{player.username}}</td>
                        <td>{{player.eloblitz}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="col">
            <h5>Best players rapid</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Player name</th>
                        <th>Player elo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of bestPlayersRapid">
                        <td>{{player.username}}</td>
                        <td>{{player.elorapid}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col">
            <h5>Best players classical</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Player name</th>
                        <th>Player elo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of bestPlayersClassical">
                        <td>{{player.username}}</td>
                        <td>{{player.eloclassical}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div *ngIf="topBlitzGameId" class="row">
        <div class="col">
            <h5>Top games</h5>
            <chessboard  [gameId]="topBlitzGameId" [mode]="'O'" [color]="'w'"></chessboard>
        </div>

    </div>

</div>

<router-outlet></router-outlet>