<mat-sidenav-container style="height:100vh">
    <mat-sidenav #sidenav mode="side" opened class="col-2" flex>
        <mat-nav-list>

            <mat-list-item *ngFor="let category of categories"><a
                    (click)="showArticlesForCategory(category)">{{category}}</a></mat-list-item>
            <mat-list-item><a (click)="showAddArticleForm()">Add article</a></mat-list-item>

            <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="col-10">

        <div class="row" [hidden]="!showArticlesForCategoryView">
            <div class="col">
                <mat-card-content>
                    <mat-action-list>
                        <mat-list-item *ngFor="let article of articles"
                                       (click)="router.navigateByUrl('/articles/'+article.articleId)"><h4
                                class="marginRight">{{article.title}}</h4>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-action-list>
                </mat-card-content>
            </div>
        </div>
        <div class="row " [hidden]="!showArticleView">
            <div class="col marginBottom">
                <div style="display:flex;"><h2 style="padding-top: 15px">Articles - overview</h2><img
                        (click)="showTableWithArticles = !showTableWithArticles" style="" class="img img-fluid halfsize"
                        [src]="!showTableWithArticles ? 'assets/images/expand_icon.png':'assets/images/collapse_icon.png'">
                </div>
                <div style="max-height:200px;overflow-y: scroll">
                    <table *ngIf="showTableWithArticles" mat-table [dataSource]="articles" class="mat-elevation-z8"
                           style="width:100%">
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef>Category</th>
                            <td mat-cell *matCellDef="let article">{{article.category}}</td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef>Title</th>
                            <td mat-cell *matCellDef="let article">{{article.title}}</td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let article">
                                <div class="display:flex">
                                    <button class="btn btn-primary marginRight" (click)="updateArticle(article)">
                                        Update
                                    </button>
                                    <button class="btn btn-danger marginRight" (click)="updateArticle(article)">Delete
                                    </button>
                                    <button class="btn btn-info marginRight" (click)="updateArticle(article)">Preview
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
                    </table>
                </div>

            </div>
        </div>
        <div class="row" [hidden]="!showArticleView">
            <div [ngClass]="{'col-7':showChessboard,'col-12':!showChessboard}">

                <div style="display:flex;"><h2 style="padding-top: 15px">Add new article</h2><img
                        (click)="showCreateArticleForm = !showCreateArticleForm" style="" class="img img-fluid halfsize"
                        [src]="!showCreateArticleForm ? 'assets/images/expand_icon.png':'assets/images/collapse_icon.png'">
                </div>
                <form [hidden]="!showCreateArticleForm" [formGroup]="saveArticleForm" (ngSubmit)="saveArticle()">
                    <div class="alert alert-success" *ngIf="saveArticleMessage">{{saveArticleMessage}}</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Article Title</mat-label>
                        <input matInput formControlName="article_title">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="article_category">
                            <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div id="div2" height="500px" class="marginBottom"></div>
                    <!-- <mat-form-field style="width:100%">
                         <ckeditor matCkeditor  [(ngModel)]="editorData" [editor]="editor"  [config]="editorConfig" (change)="onChange($event)"
                          formControlName="article_text"></ckeditor>
                    </mat-form-field>-->
                    <div class="flexWrapperCenteredItems" style="margin-top: 10px">
                        <button class="btn btn-primary marginRight"
                                (click)="showChessboardDiagram()">{{showChessboardButtonMessage}}</button>
                        <button class="btn btn-primary marginRight" (click)="clearData()">Clear data</button>
                        <button mat-flat-button type="submit" [disabled]="!saveArticleForm.valid" color="primary">Save
                        </button>
                    </div>


                </form>
            </div>

            <div id="div1" class="col-5" #chessboardDiv
                 *ngIf="showCreateArticleForm && showChessboard">

                <chessboard id="chessboardDiv" [gameId]="gameId" [color]="'w'" [mode]="'A'"></chessboard>
                <button class="btn btn-primary marginRight" (click)="addDiagram()">Add Diagram</button>

            </div>

        </div>

    </mat-sidenav-content>
</mat-sidenav-container>




